{% extends "../my.html" %} 

{% block title %}我喜欢的日记{% end %}

{% block search_key %}{% try %}{{ search if search else '' }}{% except NameError %}{% end %}{% end %}

{% block main %}
{% from pyquery import PyQuery %}


<div class="container">
    <div class="columns is-mobile">
        <div class="column is-narrow">
            {% module Template('my/_menu.html', active_page='favorite') %}
        </div>
        <div class="column">
            <div class="tabs is-centered">
                <ul>
                    <li class="is-active"><a>日记</a></li>
                    <li><a href="{{ reverse_url('my.favorite', 'photo') }}">相册</a></li>
                </ul>
            </div>
            {% block headline %}
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p class="subtitle is-5">喜欢的日记 <strong>{{ total_rows }}</strong> 篇</p>
                    </div>
                </div>
                <div class="level-right">
                    <p class="level-item">
                        <a class="button action-backup" data-task="备份我的喜欢">备份</a>
                    </p>
                </div>
            </nav>
            {% end %}

            {% try %}{% if search %}
            <nav class="level">
                <div class="level-left">
                    <p class="level-item title">搜索“{{ search }}”的结果</p>
                </div>
                <div class="level-right">
                    <p class="level-item">
                        <a href="?s=">返回全部结果</a>
                    </p>
                </div>
            </nav>
            {% end %}{% except NameError %}{% end %}

            {% module Template('themes/paginator.html', page=page, total_pages=total_pages, page_capacity=10) %}
            {% for favorite in rows %}
                {% set row = favorite.note %}
            <article class="box content">
                <p class="title is-size-5">
                    <a href="{{ reverse_url('note', row.douban_id) }}">{{ row.title }}</a>
                    <small class="is-size-6">
                        <a href="{{ row.url }}" title="访问日记的豆瓣网页" class="external-link">
                            <span class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </a>
                    </small>
                </p>
                <p>
                    <small>{{ row.created }}</small>
                    {% try %}
                    {% if row.user_id > 0 and row.user %}
                    <small>作者：<a href="https://www.douban.com/people/{{ row.user.unique_name }}/" class="external-link">{{ row.user.name }}</a></small>
                    {% end %}
                    {% except %}
                    {% end %}
                </p>
                <p class="text-break">
                    {{ PyQuery(row.content).text()[:200] }}...
                </p>
                <p>
                    {% if row.views_count %}
                    <span style="margin-right: 10px;">{{ row.views_count }}人浏览</span>
                    {% end %}
                    
                    {% if row.comments_count %}
                    <span style="margin-right: 10px;">{{ row.comments_count }}回应</span>
                    {% end %}
                    {% if row.like_count %}
                    <span style="margin-right: 10px;">喜欢({{ row.like_count }})</span>
                    {% end %}
                    {% if row.rec_count %}
                    <span style="margin-right: 10px;">推荐({{ row.rec_count }})</span>
                    {% end %}
                </p>
            </article>
            {% end %}
            {% module Template('themes/paginator.html', page=page, total_pages=total_pages, page_capacity=10) %}
        </div>

    </div>

</div>
{% end %}
