{% from pyquery import PyQuery %}
{% import ast %}


{% set sns_object_kinds = {
    '1000': '关注成员',
    '1005': '关注成员',
    '1019': '加入小组',
    '1015': '写了日记',
    '1025': '上传照片',
    '2001': '参加线上活动',
} %}

{% set rec_object_kinds = {
    '1001': '图书',
    '1002': '电影',
    '1003': '音乐',
    '1019': '小组',
    '1015': '日记',
    '1014': '讨论',
    '1013': '话题',
    '1012': '评论',
    '1011': '活动',
    '1020': '豆列',
    '1021': '九点文章',
    '1025': '照片',
    '1026': '相册',
    '1022': '网页',
    '2001': '线上活动',
    '2004': '来自小站的视频',
    '3043': '单曲',
    '3114': '游戏',
    '1043': '影人',
    '1044': '艺术家',
    '3049': '笔记',
    '3065': '条目',
    '3072': '兆赫',
    '3090': '东西',
    '5021': '来自豆瓣阅读的图片',
    '5022': '来自豆瓣阅读的作品',
} %}

{% if not wrapped %}
<article class="media{% if boxed %} box{% end %}">
    <figure class="media-left">
        <p class="image is-48x48">
            <img src="{{ broadcast.user.avatar if broadcast.user.avatar else 'https://img1.doubanio.com/icon/user_normal.jpg' }}">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
{% else %}
<article class="content box">
{% end %}

<p>
{% if broadcast.user %}
    <strong><a href="{{ reverse_url('user', broadcast.user.douban_id) }}">{{ broadcast.user.name }}</a></strong>
    {% if broadcast.status_url %}
    <a href="{{ broadcast.status_url }}" title="访问广播的豆瓣网页" class="external-link">
        <span class="icon">
            <i class="fas fa-external-link-alt"></i>
        </span>
    </a>
    {% end %}
{% else %}
    <strong>未知用户</strong>
{% end %}
<span>
{% if broadcast.target_type == 'sns' %}
    {% if broadcast.object_kind in sns_object_kinds %}
    {{ sns_object_kinds[broadcast.object_kind] }}：
    {% else %}
    说：
    {% end %}
{% elif broadcast.target_type == 'rec' %}
    分享{% if broadcast.object_kind in rec_object_kinds %}{{ rec_object_kinds[broadcast.object_kind] }}{% end %}：
{% elif broadcast.target_type == 'movie' %}
    看电影：
{% elif broadcast.target_type == 'music' %}
    听音乐：
{% elif broadcast.target_type == 'book' %}
    读书：
{% elif broadcast.target_type == 'fav' %}
    喜欢：
{% elif broadcast.target_type == 'site' %}
    小站：
{% elif broadcast.target_type == 'doulist' %}
    更新豆列：
{% elif broadcast.target_type == 'game' %}
    玩游戏：
{% elif broadcast.target_type == 'loc' %}
    参加活动：
{% elif broadcast.target_type == 'ark' %}
    写评论：
{% elif broadcast.target_type == 'arya' %}
    赞赏：
{% elif broadcast.target_type == '' %}
    转播：
{% else %}
    其他：
{% end %}
</span>
</p>
{% if broadcast.blockquote %}
<p class="text-break">{{ PyQuery(broadcast.blockquote).text() }}</p>
{% end %}

{% set content_dom = PyQuery(broadcast.content) %}

{% if broadcast.is_reshared %}
    {% if broadcast.reshared %}
        {% module Template('my/_broadcast.html', boxed=True, wrapped=True, broadcast=broadcast.reshared) %}
    {% else %}
    <article class="content box">
        <p>该广播已被<del>作者</del>管理员删除</p>
    </article>
    {% end %}
{% elif broadcast.target_type == 'sns' %}
    {% if broadcast.object_kind == '1018' %}
        {% if broadcast.attachments %}
            {% set attachments = ast.literal_eval(broadcast.attachments) %}
            {% for attachment in attachments %}
                {% if attachment['type'] == 'image' %}
                    {% if boxed %}
                    <figure class="image is-128x128" style="overflow: hidden; display: inline-block;">
                        <a href="#" class="preview action-open" data-target="#modal-preview"><img class="load-from-cache" data-src="{{ attachment['url'] }}"></a>
                    </figure>
                    {% else %}
                    <figure class="image">
                        <img class="load-from-cache" data-src="{{ attachment['url'] }}">
                    </figure>
                    {% end %}
                {% end %}
            {% end %}
        {% end %}
    {% elif broadcast.object_kind == '1000' or broadcast.object_kind == '1005' %}
        {% module User(broadcast.object_id) %}
    {% elif broadcast.object_kind == '1015' %}
        {% module Note(broadcast.object_id) %}
    {% elif broadcast.object_kind == '1025' %}
        {% set sns_photos = content_dom('.status-item>.mod>.bd.sns>.block-photo img') %}
        {% for sns_photo in sns_photos %}
            {% set sns_photo = PyQuery(sns_photo) %}
            {% if boxed %}
            <figure class="image is-128x128" style="overflow: hidden; display: inline-block;">
                <a href="#" class="preview action-open" data-target="#modal-preview"><img src="{{ sns_photo.attr('src') }}"></a>
            </figure>
            {% else %}
            <figure class="image">
                <img src="{{ sns_photo.attr('src') }}">
            </figure>
            {% end %}
        {% end %}
        <p><a href="https://www.douban.com/photos/photo/{{ broadcast.object_id }}" class="external-link">查看照片</a></p>
    {% else %}
        {% module Recommend(content_dom('.status-item>.mod>.bd.sns>.block'), broadcast) %}
    {% end %}
{% elif broadcast.target_type == 'rec' %}
    {% set rec = content_dom('.status-item>.mod>.bd.rec>.block') %}
    {% set rec_video = content_dom('.status-item>.mod>.bd.rec>.block-video') %}
    {% if rec %}
        {% module Recommend(rec, broadcast) %}
    {% elif rec_video %}
    <article class="box content">
        {% set rec_img = rec_video('.video-player img').eq(0) %}
        {% set rec_title = rec_video('.title>a').eq(0) %}
        <figure style="text-align: left;">
            <p class="image" style="overflow: hidden; max-width: 480px;">
                <img src="{{ rec_img.attr('src') }}">
            </p>
            <p class="is-size-5"><a href="{{ rec_title.attr('href') }}">{{ rec_title.text() }}</a></p>
        </figure>
    </article>
    {% elif broadcast.object_kind == '1025' %}
        {% set rec_photos = content_dom('.status-item>.mod>.bd.rec>.block-photo img') %}
        {% for rec_photo in rec_photos %}
            {% set rec_photo = PyQuery(rec_photo) %}
            {% if boxed %}
            <figure class="image is-128x128" style="overflow: hidden; display: inline-block;">
                <a href="#" class="preview action-open" data-target="#modal-preview"><img src="{{ rec_photo.attr('src') }}"></a>
            </figure>
            {% else %}
            <figure class="image">
                <img src="{{ rec_photo.attr('src') }}">
            </figure>
            {% end %}
        {% end %}
        <p><a href="https://www.douban.com/photos/photo/{{ broadcast.object_id }}" class="external-link">查看照片</a></p>
    {% else %}
    <blockquote class="text-break">{{ content_dom.text() }}</blockquote>
    {% end %}
{% elif broadcast.target_type == 'movie' and broadcast.object_kind == '1002' %}
    {% module Movie(broadcast.object_id) %}
{% elif broadcast.target_type == 'book' and broadcast.object_kind == '1001' %}
    {% module Book(broadcast.object_id) %}
{% elif broadcast.target_type == 'music' and broadcast.object_kind == '1003' %}
    {% module Music(broadcast.object_id) %}
{% elif broadcast.target_type == 'sns' and broadcast.object_kind == '1015' %}
    {% module Note(broadcast.object_id) %}
{% else %}
    {% module Recommend(content_dom('.status-item>.mod>.bd>.block'), broadcast) %}
{% end %}

{% if not broadcast.is_noreply %}
<nav class="level">
    <div class="level-left">
        <div class="level-item">{{ broadcast.comments_count }}回应</div>
        <div class="level-item">赞({{ broadcast.like_count }})</div>
        <div class="level-item">转播({{ broadcast.reshared_count }})</div>
        {% if wrapped %}
        <div class="level-item"><a href="{{ reverse_url('broadcast', broadcast.douban_id) }}">查看详情</a></div>
        {% end %}
    </div>
    <div class="level-right">
        <div class="level-item">{{ broadcast.created if broadcast.created else '' }}</div>
    </div>
</nav>
{% end %}


{% if not wrapped %}
        </div>
    </div>
    {% if boxed %}
    <div class="media-right">
        <ul class="menu has-text-centered">
            <li><a href="{{ reverse_url('broadcast', broadcast.douban_id) }}" class="button">查看详情</a></li>
        </ul>
    </div>
    {% end %}
</article>
{% else %}
</article>
{% end %}
