<aside class="menu" style="width: 150px;">
    <p class="menu-label is-size-5">我的友邻</p>
    <ul class="menu-list">
        <li><a {% if active_page == 'following' %}class="is-active"{% else %} href="{{ reverse_url('my.following') }}"{% end %}>我关注的</a></li>
        <li><a {% if active_page == 'followers' %}class="is-active"{% else %} href="{{ reverse_url('my.followers') }}"{% end %}>关注我的</a></li>
        <li><a {% if active_page == 'blocklist' %}class="is-active"{% else %} href="{{ reverse_url('my.blocklist') }}"{% end %}>黑名单</a></li>
    </ul>
    <p class="menu-label is-size-5">我的影视</p>
    <ul class="menu-list">
        <li><a {% if active_page == 'movie/done' %}class="is-active"{% else %} href="{{ reverse_url('my.movie', 'done') }}"{% end %}>看过</a></li>
        <li><a {% if active_page == 'movie/wish' %}class="is-active"{% else %} href="{{ reverse_url('my.movie', 'wish') }}"{% end %}>想看</a></li>
        <li><a {% if active_page == 'movie/doing' %}class="is-active"{% else %} href="{{ reverse_url('my.movie', 'doing') }}"{% end %}>在看</a></li>
    </ul>
    <p class="menu-label is-size-5">我的书</p>
    <ul class="menu-list">
        <li><a {% if active_page == 'book/done' %}class="is-active"{% else %} href="{{ reverse_url('my.book', 'done') }}"{% end %}>读过</a></li>
        <li><a {% if active_page == 'book/wish' %}class="is-active"{% else %} href="{{ reverse_url('my.book', 'wish') }}"{% end %}>想读</a></li>
        <li><a {% if active_page == 'book/doing' %}class="is-active"{% else %} href="{{ reverse_url('my.book', 'doing') }}"{% end %}>在读</a></li>
    </ul>
    <p class="menu-label is-size-5">我的音乐</p>
    <ul class="menu-list">
        <li><a {% if active_page == 'music/done' %}class="is-active"{% else %} href="{{ reverse_url('my.music', 'done') }}"{% end %}>听过</a></li>
        <li><a {% if active_page == 'music/wish' %}class="is-active"{% else %} href="{{ reverse_url('my.music', 'wish') }}"{% end %}>想听</a></li>
    </ul>
    <p class="menu-label is-size-5">我的……</p>
    <ul class="menu-list">
        <li><a {% if active_page == 'broadcast' %}class="is-active"{% else %} href="{{ reverse_url('my.broadcast') }}"{% end %}>广播</a></li>
        <li><a {% if active_page == 'note' %}class="is-active"{% else %} href="{{ reverse_url('my.note') }}"{% end %}>日记</a></li>
        <li><a {% if active_page == 'photo' %}class="is-active"{% else %} href="{{ reverse_url('my.photo') }}"{% end %}>相册</a></li>
        <li><a {% if active_page == 'favorite' %}class="is-active"{% else %} href="{{ reverse_url('my.favorite', '') }}"{% end %}>喜欢</a></li>
        <!--
        <li><a {% if active_page == 'doulist' %}class="is-active"{% else %} href=""{% end %}>豆列</a></li>
        -->
    </ul>
    <p class="menu-label is-size-5">工具</p>
    <ul class="menu-list">
        <li><a href="{{ reverse_url('exports') }}">导出 Excel</a></li>
        <!--<li><a href="{{ reverse_url('search') }}">搜索</a></li>-->
    </ul>
</aside>
