{% extends "../themes/main.html" %} 

{% block title %}{{ '我看过的影视' if status == 'done' else '我想看的影视' if status == 'wish' else '我在看的影视' }}{% end %}


{% block main %}
{% import ast %}
<div class="container">
    <div class="columns is-mobile">
        <div class="column is-narrow">
            {% module Template('my/_menu.html', active_page='movie/' + status) %}
        </div>
        <div class="column">
            {% block headline %}
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p class="subtitle is-5">{{ '看过' if status == 'done' else '想看' if status == 'wish' else '在看' }} <strong>{{ total_rows }}</strong> 部</p>
                    </div>
                </div>
                <div class="level-right">
                    <p class="level-item">
                        <!--<a class="button" href="{{ reverse_url('my.movie.historical') }}">查看历史记录</a>-->
                    </p>
                </div>
            </nav>
            {% end %}
            {% module Template('themes/paginator.html', page=page, total_pages=total_pages, page_capacity=10) %}
            {% for row in rows %}
            <article class="media box" style="min-height: 220px;">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="{{ row.movie.image }}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><a href="{{ row.movie.alt }}" class="external-link">{{ row.movie.title }}</a></strong>
                            <small>{{ row.movie.subtitle }}</small>
                            {% if row.movie.alt_title %}
                            <br><small class="has-text-grey-light">({{ row.movie.alt_title }})</small>
                            {% end %}
                        </p>
                        <dl class="is-horizontal is-label-size-4">
                            {% if row.movie.author %}
                            {% set author = ast.literal_eval(row.movie.author) %}
                            {% if len(row.movie.author) %}
                            <dt class="has-text-left">作者</dt>
                            <dd class="has-text-grey-light">{{ ' / '.join(author) }}</dd>
                            {% end %}
                            {% end %}

                            {% if row.movie.translator %}
                            {% set translator = ast.literal_eval(row.movie.translator) %}
                            {% if len(translator) %}
                            <dt class="has-text-left">译者</dt>
                            <dd class="has-text-grey-light">{{ ' / '.join(translator) }}</dd>
                            {% end %}
                            {% end %}

                            {% if row.movie.publisher %}
                            <dt class="has-text-left">出版社</dt>
                            <dd class="has-text-grey-light">{{ row.movie.publisher }}</dd>
                            {% end %}

                            {% if row.movie.origin_title %}
                            <dt class="has-text-left">原作名</dt>
                            <dd class="has-text-grey-light">{{ row.movie.origin_title }}</dd>
                            {% end %}

                            {% if row.movie.pubdate %}
                            <dt class="has-text-left">出版日期</dt>
                            <dd class="has-text-grey-light">{{ row.movie.pubdate }}</dd>
                            {% end %}

                            {% if row.movie.isbn10 or row.movie.isbn13 %}
                            <dt class="has-text-left">ISBN</dt>
                            <dd class="has-text-grey-light">{{ row.movie.isbn10 }} / {{ row.movie.isbn13 }}</dd>
                            {% end %}

                            {% if row.movie.price %}
                            <dt class="has-text-left">价格</dt>
                            <dd class="has-text-grey-light">{{ row.movie.price }}</dd>
                            {% end %}

                            {% if row.movie.pages %}
                            <dt class="has-text-left">页数</dt>
                            <dd class="has-text-grey-light">{{ row.movie.pages }}</dd>
                            {% end %}

                            {% if row.movie.binding %}
                            <dt class="has-text-left">装帧</dt>
                            <dd class="has-text-grey-light">{{ row.movie.binding }}</dd>
                            {% end %}
                        </dl>
                        <dl class="is-horizontal is-label-size-4  is-marginless">
                            <dt>我的评价</dt>
                            <dd>
                                {% if row.rating %}
                                {% set my_rating = ast.literal_eval(row.rating) %}
                                <span class="rating-start star-{{ my_rating['value'] }}0"></span>
                                {% else %}
                                <span class="rating-start star-00"></span>
                                {% end %}
                                <small class="has-text-grey-light">{{ row.create_time }}</small>
                            </dd>
                            {% if row.tags %}
                            {% set tags = ast.literal_eval(row.tags) %}
                            {% if len(tags) %}
                            <dt>标签</dt>
                            <dd>{{ ' / '.join(tags) }}</dd>
                            {% end %}
                            {% end %}
                        </dl>
                        <p class="text-break">{{ row.comment }}</p>
                    </div>
                </div>
                <div class="media-right">
                    <p>
                        {% if row.movie.rating %}
                        {% set rating = ast.literal_eval(row.movie.rating) %}
                        豆瓣评分 <strong class="is-size-4">{{ rating['average'] }}</strong> / 10<br>
                        <a href="{{ row.movie.alt }}/collections" class="external-link">{{ rating['numRaters'] }} 人评价</a>
                        {% end %}
                    </p>
                    <p style="margin-top: 10px;">
                        <a href="" class="button">查看详情</a>
                    </p>
                </div>
            </article>
            {% end %}
            {% module Template('themes/paginator.html', page=page, total_pages=total_pages, page_capacity=10) %}
        </div>

    </div>

</div>
{% end %}