{% extends "../themes/main.html" %}

{% block search %}
<form>
<div class="navbar-item">
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" name="s" type="search" value="{% block search_key %}{% end %}" placeholder="搜索">
            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>
        </p>
    </div>
</div>
</form>
{% end %}

{% block body_extra %}
<script>
    system.on('loaded', () => {
        $('.action-backup').click(function() {
            let task = $(this).data('task')
            $.ajax({
                url: '{{ reverse_url("dashboard.tasks.add") }}',
                method: 'POST',
                data: {
                    'tasks': JSON.stringify({
                        tasks: [task],
                        accounts: [{{current_user.id}}]
                    }),
                }
            }).then((data, status, $xhr) => {
                location.reload()
            }, ($xhr, status, error) => {
                window.alert('新建任务失败' + error, '错误')
            })
        })
    })
</script>
{% end %}
