body, html {
    font: 14px Helvetica, Arial, "Microsoft YaHei", sans-serif;
}

#nav-logo {
    font-size: 28px;
    line-height: 28px;
}

#nav-logo .icon {
    margin-right: 12px;
}

#main-content {
    margin: auto;
    padding: 10px;
}

dl.is-horizontal>dt, dl.is-horizontal>dd {
    display: block;
    line-height: 1.5;
}

dl.is-horizontal>dt {
    font-weight: 600;
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dl.is-horizontal>dd {
    margin-left: 140px;
}