body, html {
    font: 14px Helvetica, Arial, "Microsoft YaHei", sans-serif;
}

#primary-nav {
    font-size: 1.1rem;
}

#primary-nav>.navbar-brand>.navbar-item {
    font-size: 2rem;
    line-height: 2rem;
}

#primary-nav>.navbar-brand>.navbar-item .icon {
    margin-right: 1rem;
}

.section {
    padding: 2rem 1.5rem;
}

.has-margin {
    margin: 1rem;
}

.has-padding {
    padding: 1rem;
}

dl.is-horizontal>dt, dl.is-horizontal>dd {
    display: block;
    line-height: 1.5;
}

dl.is-horizontal>dt {
    font-weight: 600;
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dl.is-horizontal>dd {
    margin-left: 140px;
}

dl.is-horizontal.is-label-size-4>dt{
    width: 60px;
    text-align: left;
}


dl.is-horizontal.is-label-size-4>dt{
    width: 4rem;
}
dl.is-horizontal.is-label-size-4>dd {
    margin-left: 4.5rem;
}

.text-break{
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.rating-start {
    display: inline-block;
    width: 55px;
    height: 11px;
    margin-right: 4px;
    background-image: url('start_matrix.png');
}


.rating-start.star-50 {
    background-position: 0 0px
}

.rating-start.star-45 {
    background-position: 0 -11px
}

.rating-start.star-40 {
    background-position: 0 -22px
}

.rating-start.star-35 {
    background-position: 0 -33px
}

.rating-start.star-30 {
    background-position: 0 -44px
}

.rating-start.star-25 {
    background-position: 0 -55px
}

.rating-start.star-20 {
    background-position: 0 -66px
}

.rating-start.star-15 {
    background-position: 0 -77px
}

.rating-start.star-10 {
    background-position: 0 -88px
}

.rating-start.star-05 {
    background-position: 0 -99px
}

.rating-start.star-00 {
    background-position: 0 -110px
}

ul.menu>li {
    margin: 0 0 10px 0;
}
