{% extends "themes/main.html" %} 

{% block title %}{{subject.user.name}}的广播{% end %}

{% block main %}
{% from pyquery import PyQuery %}
{% import ast %}
<div class="container">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <a class="button" onclick="history.back()">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>返回</span>
                </a>
            </div>
        </div>
        <div class="level-right">
            <p class="level-item">
                <!--<a class="button" href="{{ reverse_url('my.movie.historical') }}">查看历史记录</a>-->
            </p>
        </div>
    </nav>

    {% module Template('my/_broadcast.html', boxed=False, wrapped=False, broadcast=subject) %}

    <hr>

    {% for comment in comments %}
    <article class="media">
        <figure class="media-left">
            <p class="image is-32x32">
                <img src="{{ comment.user.avatar }}">
            </p>
        </figure>
        <div class="media-content">
            <p>
                <strong><a href="{{ comment.user.alt }}" class="external-link">{{ comment.user.name }}</a></strong>
                <small>(@{{ comment.user.unique_name}})</small>
                <small class="has-text-grey-light">{{ comment.user.signature }}</small>
                <span>{{ comment.created}}</span>
            </p>
            <p class="text-break">{{ comment.text }}</p>
        </div>
    </article>
    {% end %}
</div>
{% end %}
