{% extends "themes/main.html" %} 

{% block title %}{{ subject.title }}{% end %}


{% block main %}
{% import ast %}
<div class="container">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <a class="button" onclick="history.back()">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>返回</span>
                </a>
            </div>
        </div>
        <div class="level-right">
            <p class="level-item">
                <!--<a class="button" href="{{ reverse_url('my.movie.historical') }}">查看历史记录</a>-->
            </p>
        </div>
    </nav>
    {% set attrs = ast.literal_eval(subject.attrs) %}
    <article class="media" style="min-height: 220px; margin-bottom: 50px;">
        <figure class="media-left">
            <p class="image is-128x128">
                <img src="{{ subject.image }}">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><a href="https://movie.douban.com/subject/{{ subject.douban_id }}/" class="external-link">{{ subject.title }}</a></strong>
                    {% if subject.alt_title %}
                    ({{ subject.alt_title }})
                    {% end %}
                </p>
                <dl class="is-horizontal is-label-size-4">
                    {% if 'director' in attrs and attrs['director'] %}
                    <dt class="has-text-left">导演</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['director']) }}</dd>
                    {% end %}

                    {% if 'writer' in attrs and attrs['writer'] %}
                    <dt class="has-text-left">编剧</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['writer']) }}</dd>
                    {% end %}

                    {% if 'cast' in attrs and attrs['cast'] %}
                    <dt class="has-text-left">主演</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['cast']) }}</dd>
                    {% end %}

                    {% if 'movie_type' in attrs and attrs['movie_type'] %}
                    <dt class="has-text-left">类型</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['movie_type']) }}</dd>
                    {% end %}

                    {% if 'country' in attrs and attrs['country'] %}
                    <dt class="has-text-left">国家地区</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['country']) }}</dd>
                    {% end %}

                    {% if 'language' in attrs and attrs['language'] %}
                    <dt class="has-text-left">语言</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['language']) }}</dd>
                    {% end %}

                    {% if 'pubdate' in attrs and attrs['pubdate'] %}
                    <dt class="has-text-left">首播</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['pubdate']) }}</dd>
                    {% end %}

                    {% if 'episodes' in attrs and attrs['episodes'] %}
                    <dt class="has-text-left">集数</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['episodes']) }}</dd>
                    {% end %}

                    {% if 'movie_duration' in attrs and attrs['movie_duration'] %}
                    <dt class="has-text-left">单集片长</dt>
                    <dd class="has-text-grey-light">{{ ' / '.join(attrs['movie_duration']) }}</dd>
                    {% end %}
                </dl>
                {% if mine %}
                <dl class="is-horizontal is-label-size-4  is-marginless">
                    <dt>我的评价</dt>
                    <dd>
                        {% if mine.rating %}
                        {% set my_rating = ast.literal_eval(mine.rating) %}
                        <span class="rating-start star-{{ my_rating['value'] }}0"></span>
                        {% else %}
                        <span class="rating-start star-00"></span>
                        {% end %}
                        <small class="has-text-grey-light">{{ mine.create_time }}</small>
                    </dd>
                    {% if mine.tags %}
                    {% set tags = ast.literal_eval(mine.tags) %}
                    {% if len(tags) %}
                    <dt>标签</dt>
                    <dd>{{ ' / '.join(tags) }}</dd>
                    {% end %}
                    {% end %}
                </dl>
                <p class="text-break">{{ mine.comment }}</p>
                {% end %}
            </div>
        </div>
        <div class="media-right">
            <p>
                {% if subject.rating %}
                {% set rating = ast.literal_eval(subject.rating) %}
                豆瓣评分 <strong class="is-size-4">{{ rating['average'] }}</strong> / 10<br>
                <a href="{{ subject.alt }}/collections" class="external-link">{{ rating['numRaters'] }} 人评价</a>
                {% end %}
            </p>
        </div>
    </article>

    <div class="content">
        <h2 class="subtitle is-size-5">剧情简介</h2>
        {% for ln in subject.summary.split("\n") %}
            {% if ln %}
            <p>{{ ln }}</p>
            {% end %}
        {% end %}

        {% if subject.tags %}
        {% set tags = ast.literal_eval(subject.tags) %}
        <h2 class="subtitle is-size-5">豆瓣成员常用的标签</h2>
        {% for tag in tags %}
        <span class="tag is-size-6">{{ tag['name'] }}({{ tag['count'] }})</span>
        {% end %}
        {% end %}
    </div>
</div>
{% end %}