{% extends "themes/main.html" %} 

{% block title %}{{ note.title }}{% end %}

{% block head_extra %}
<link rel="stylesheet" href="{{ static_url('note.css') }}">
{% end %}

{% block main %}
{% from pyquery import PyQuery %}
<div class="container">
    <nav class="level no-print">
        <div class="level-left">
            <div class="level-item">
                <a class="button" onclick="history.back()">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>返回</span>
                </a>
            </div>
        </div>
        <div class="level-right">
            <p class="level-item">
                <!--<a class="button" href="">查看历史记录</a>-->
                <a class="button action-save-as">另存为</a>
            </p>
        </div>
    </nav>

    <article class="content">
        <h1 data-title="{{ note.title }}" id="note-title">
            <a href="{{ note.url }}" class="external-link">{{ note.title }}</a>
        </h1>
        <p>
            <small>{{ note.created }}</small>
            {% try %}
            {% if note.user_id > 0 and note.user %}
            <small>作者：<a href="https://www.douban.com/people/{{ note.user.unique_name }}/" class="external-link">{{ note.user.name }}</a></small>
            {% end %}
            {% except %}
            {% end %}
        </p>
        <div class="container note">
            {%raw content %}
        </div>
        <script>
            let noteImages = document.querySelectorAll('.container.note img')
            for (let i = 0; i < noteImages.length; i++) { let img = noteImages[i]; img.className = 'load-from-cache'; img.dataset['src'] = img.src; }
        </script>
        <p>
            {% if note.views_count %}
            <span style="margin-right: 10px;">{{ note.views_count }}人浏览</span>
            {% end %}
            
            {% if note.comments_count %}
            <span style="margin-right: 10px;">{{ note.comments_count }}回应</span>
            {% end %}
            {% if note.like_count %}
            <span style="margin-right: 10px;">喜欢({{ note.like_count }})</span>
            {% end %}
            {% if note.rec_count %}
            <span style="margin-right: 10px;">推荐({{ note.rec_count }})</span>
            {% end %}
        </p>
    </article>

    {% for comment in comments %}
    <article class="media">
        <figure class="media-left">
            <p class="image is-32x32">
                <img src="{{ comment.user.avatar }}">
            </p>
        </figure>
        <div class="media-content">
            <p>
                <strong><a href="{{ comment.user.alt }}" class="external-link">{{ comment.user.name }}</a></strong>
                <small>(@{{ comment.user.unique_name}})</small>
                <small class="has-text-grey-light">{{ comment.user.signature }}</small>
                <span>{{ comment.created}}</span>
            </p>
            <p class="text-break">{{ comment.text }}</p>
        </div>
    </article>
    {% end %}

</div>
{% end %}

{% block body_extra %}
<script>
    system.on('loaded', () => {
        $('.action-save-as').click(() => {
            const { dialog, shell } = system.require('electron').remote
            let webContents = system.require('electron').remote.getCurrentWebContents()
            let filename = dialog.showSaveDialog({
                title: '另存为',
                buttonLabel: '保存',
                filters: [{name: 'PDF 文件', extensions: ['pdf']}],
                defaultPath: $('#note-title').data('title') + '.pdf'
            })
            webContents.printToPDF(
                {
                    pageSize: 'A4',
                    printBackground: true
                }, 
                (err, data) => {
                    if (err) {
                        window.alert('生成PDF失败：' + err, '错误')
                        return
                    }
                    const fs = system.require('fs')
                    fs.writeFile(filename, data, (err) => {
                        if (err) {
                            window.alert('写入文件失败：' + err, '错误')
                            return
                        }
                        if (! window.confirm('成功生成PDF。是否要打开？', '成功')) {
                            return
                        }
                        shell.openExternal('file://' + filename)
                    })
                }
            )
        })
    })
</script>
{% end %}