{% extends "settings.html" %}

{% block setting_menu %}
{% module Template('settings/_menu.html', active_page='network') %}
{% end %}

{% block setting_content %}
<form method="post">
    <label class="label">代理服务器</label>
    <p class="control">
        <textarea name="proxies" class="textarea">{{ proxies }}</textarea>
    </p>
    <p class="help is-size-6 has-text-danger">每行一个代理服务器地址</p>
    <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <button class="button is-link">确定</button>
        </div>
        <div class="control">
            <button class="button is-text" type="reset">重置</button>
        </div>
    </div>
</form>
{% end %}