{% extends "../../themes/main.html" %} 

{% block title %}设置{% end %}

{% block main %}
<div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a>工具</a>
            </li>
            <li class="is-active">
                <a aria-current="page">设置</a>
            </li>
        </ul>
    </nav>

    <div class="columns is-mobile">
        <div class="column is-one-fifth">
            {% module Template('settings/_menu.html', active_page='account') %}
        </div>
        <div class="column">
            {% if len(rows) == 0 %}
            <div class="notification is-primary">没有帐号，请先<a href="{{ reverse_url('settings.accounts.login') }}">登录</a>。</div>
            {% else %}
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>登录时间</th>
                        <th>登录凭证</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr class="{% if row.is_activated%} is-selected{% end %} {% if row.is_invalid%} has-background-grey-lighter has-text-white-ter{% end %}">
                        <td>{{ row.name }}</td>
                        <td>{{ row.created }}</td>
                        <td>{{ row.session }}</td>
                        <td>
                            <a href="" class="is-small" title="删除">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
            <p><a class="button is-primary" href="{{ reverse_url('settings.accounts.login') }}">添加</a></p>
            {% end %}
        </div>
    </div>

</div>
{% end %}